# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://oirbuwugodjpogrdeyrl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9pcmJ1d3Vnb2RqcG9ncmRleXJsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQwMjU2MDEsImV4cCI6MjA3OTYwMTYwMX0.OqEuFQh4yJXPgg_CJZikKv983mYr4oGy6VJhpKG6-W4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9pcmJ1d3Vnb2RqcG9ncmRleXJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDAyNTYwMSwiZXhwIjoyMDc5NjAxNjAxfQ.YdqeKemGY0Odbt_bamuoZ4S-01uv0_HPt59DqmfFnWU

# Google OAuth & APIs
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/callback/google

# Gemini API (for AI interview features)
GOOGLE_GEMINI_API_KEY=AIzaSyBFgpZQI3B-ZyWLdgWMGUCO9Z3WVD3AzzA
